pkgbase = drawio-desktop
	pkgdesc = Diagram drawing application built on web technology
	pkgver = 10.8.0
	pkgrel = 1
	url = https://github.com/jgraph/drawio
	arch = x86_64
	license = Apache
	makedepends = npm
	depends = electron
	source = drawio-desktop-10.8.0.zip::https://github.com/jgraph/drawio/releases/download/v10.8.0/draw.war
	sha256sums = ffcc8b3d694aa7783995253781380b89d41c935462ea1971f3f91dab4d66cbee

pkgname = drawio-desktop

